.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}
#nav-header {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 100px;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1000;
}
main {
    overflow: scroll;
    height: 100%;
}
#logo {
    background-image: url("../image/Reservia.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 35%;
    height: 8em;
}
#subscribe {
    padding-right: 1.5em;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 2.5em;
    font-weight: bold;
}
nav {
    width: 100%;
    padding-top: 1em;
}
#main_nav {
    display: flex;
    font-size: 2.5em;
    padding: 0;
}

#main_nav > li {
    width: 50%;
    display: flex;
    justify-content: center;
    color: #1D1D1D;
    border-bottom: solid #F2F2F2 0.5rem;
    padding-bottom: 0.8em;
}
.actived-nav {
    color: #0065FC !important;
    border-bottom: solid #0065FC 0.5rem !important;
}
main > h2 {
    margin-top: -0.3em;
}
form {
    margin-top: 4em;
    margin-bottom: 2em;
    width: 100%;
}
form div.bg-grey {
    height: 8.4rem;
    width: 8.4rem;
    font-size: 3em;
    border-radius: 30px 0 0 30px;
}
#location {
    font-size: 3em;
    height: 8rem;
    width: 60%;
    padding-top: auto;
    padding-bottom: auto;
    padding-left: 1em;
    font-family: Raleway;
    border: solid #F2F2F2 0.2rem;
    margin-right: -2rem;
    flex-grow: 1;
}
button[type="submit"] {
    height: 8.4rem;
    width: 8.4rem;
    border: none;
    border-radius: 30px;
}
.fas.fa-search {
    color: white;
    font-size: 2.5em;
}
ul > li > div {
    margin-left: -0.5rem;
}
ul {
    padding-left: 0;
}
/* LODGING ASIDE */
#lodging-aside {
    order: 1;
    margin-top: 2em;
    padding-top: 3em;
    padding-bottom: 5em;
}
#lodging-aside section {
    background-color: white;
    height: 22rem;
    border-radius: 3rem;
    padding: 0.6em 0.6em;
    margin-top: 2em;
    -webkit-box-shadow: 0px 0px 1.5em 0 rgba(0,0,0,0.10);
    -moz-box-shadow: 0px 0px 1.5em 0 rgba(0,0,0,0.10);
    box-shadow: 0px 0px 1.5em 0 rgba(0,0,0,0.10);
}
#lodging-aside section img {
    width: 40%;
    object-fit: cover;
    border-radius: 3rem 0 0 3rem;
}
#lodging-aside section div {
    padding-top: 1.5rem;
    padding-left: 3rem;
    padding-right: 5rem;
}
/* ************* */

/* LODGING ARTICLE */
#lodging-article {
    order: 2;
    padding-top: 3em;
}
#lodging-article section {
    background-color: white;
    height: 30rem;
    border-radius: 3rem;
    padding: 0.6em 0.6em;
    margin-top: 2em;
    -webkit-box-shadow: 0px 0px 1.5em 0 rgba(0,0,0,0.10);
    -moz-box-shadow: 0px 0px 1.5em 0 rgba(0,0,0,0.10);
    box-shadow: 0px 0px 1.5em 0 rgba(0,0,0,0.10);
}
#lodging-article section img {
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-radius: 3rem 3rem 0 0;
}
#lodging-article section div {
    padding-top: 1rem;
    padding-left: 3rem;
    padding-right: 5rem;
}
/* *************** */
#activities {
    order: 3;
}
