@media screen and (max-device-width: 480px) {

    BODY {
        margin: 0;
    }

    .container {
        width: 90%;
        padding-left: 15px;
        padding-right: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    .m-main {
        overflow: scroll;
        height: 100%;
    }

    /* HEADER */
    .m-sticky-top {
        position: sticky;
        top: 0;
        z-index: 1000;
    }
    .m-sticky-top #logo {
        width: 35%;
        height: 8em;
    }
    .m-sticky-top #subscribe {
        width: 50%;
    }
    .m-sticky-top nav {
        width: 100%;
        padding-top: 1em;
    }
    .m-sticky-top li {
        width: 50%;
        border-bottom: solid #F2F2F2 0.5rem;
        padding-bottom: 0.8em;
    }
    .m-sticky-top .actived-nav {
        border-bottom: solid #0065FC 0.5rem;
    }
    /* ****** */

    /* LOCATION INPUT */
    .location-input {
        margin-top: 4em;
        margin-bottom: 2em;
        width: 100%;
    }
    .location-input div.bg-grey {
        height: 8.3rem;
        width: 8.4rem;
        border-radius: 30px 0 0 30px;
    }
    .location-input #location {
        height: 7.8rem;
        width: 60%;
        padding-left: 1em;
        border-width: 0.2rem!important;
        margin-right: -2rem;
    }
    .location-input button[type="submit"] {
        height: 8.4rem;
        width: 8.4rem;
        border: none;
        border-radius: 30px;
    }
    /* **************** */

    /* FILTER LIST */
    .filter-list li:nth-child(1) {
        margin-top: 2rem;
        margin-bottom: 1.5rem;
        width: 100%;
    }
    .filter {
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;;
    }
    .filter div {
        border-radius: 90px;
        height: 8rem;
        width: 8rem;
        margin-right: -8rem;
        z-index: 500;
    }
    .filter p {
        height: 7.2rem;
        border-radius: 90px;
        border: #D9D9D9 0.4rem solid;
        padding-left: 8rem;
    }
    /* *********** */

    .info-icon {
        border-radius: 90px;
        margin-right: 1.5rem;
    }


    /* LODGING ASIDE */
    #lodging-aside {
        margin-top: 2em;
        padding-top: 3em;
        padding-bottom: 5em;
    }
    #lodging-aside section {
        background-color: white;
        height: 22rem;
        border-radius: 3rem;
        padding: 0.6em 0.6em;
        margin-top: 2em;
    }
    #lodging-aside section img {
        width: 40%;
        object-fit: cover;
        border-radius: 3rem 0 0 3rem;
    }
    #lodging-aside section div {
        padding-top: 1.5rem;
        padding-left: 3rem;
        padding-right: 5rem;
    }
    #lodging-aside section div h2 {margin-top: 0;}
    #lodging-aside section div p {margin-top: -5rem;}
    /* ************* */


    /* LODGING ARTICLE */
    #lodging-article {
        padding-top: 3em;
    }
    #lodging-article section {
        background-color: white;
        height: 30rem;
        border-radius: 3rem;
        padding: 0.6em 0.6em;
        margin-top: 2em;
    }
    #lodging-article section img {
        width: 100%;
        height: 60%;
        object-fit: cover;
        border-radius: 3rem 3rem 0 0;
    }
    #lodging-article section div {
        padding-top: 1rem;
        padding-left: 3rem;
        padding-right: 5rem;
    }
    #lodging-article section div * {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
    #lodging-article > p{
        margin-top: 6rem;
        margin-bottom: 6rem;
    }
    /* *************** */


    /* ACTIVITIES */
    #activities {padding-bottom: 8rem;}
    #activities h2 {
        margin-bottom: 2em;
    }
    #activities section {
        background-color: white;
        height: 30rem;
        border-radius: 3rem;
        margin-top: 3em;
    }
    #activities section img {
        width: 100%;
        height: 70%;
        object-fit: cover;
        border-radius: 3rem 3rem 0 0;
    }
    #activities section h3 {
        margin-left: 3rem;
        margin-top: 3rem;
    }
    /* ********** */


    footer {
        padding-top: 3rem;
        padding-bottom: 3rem;
        padding-left: 2rem;
    }
    /* FIX ANCRE PROBLEME WITH STICKY NAV */
    main:target {
        padding-top: 30em;
        margin-top: -30em;
    }
    article:target {
        padding-top: 18em;
        margin-top: -18em;
    }
    /* *************** */

    /* MOBILE ORDER */
    .m-order-1 {order: 1;}
    .m-order-2 {order: 2;}
    .m-order-3 {order: 3;}
    /* ************ */

    /* MOBILE FONTSIZE */
    .m-fontsize-1 {font-size: 1em;}
    .m-fontsize-1-5 {font-size: 1.5em;}
    .m-fontsize-2 {font-size: 2em;}
    .m-fontsize-2-5 {font-size: 2.5em;}
    .m-fontsize-3 {font-size: 3em;}
    .m-fontsize-3-5 {font-size: 3.5em;}
    /* *************** */

    .display {display: none;}

    /* MOBILE FLEX */
    .m-flex-grow {flex-grow: 1;}
    .m-content-space-between {justify-content: space-between;}
    .m-flex-row {flex-direction: row;}
    .m-flex-column {flex-direction: column;}
    .m-self-end { align-self: flex-end;}
    /* ********** */
}