.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}
header {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 100px;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1000;
}
main {
    position: fixed;
    overflow: scroll;
    height: 80%;
    width: 90vw;
}
#logo {
    background-image: url("../image/Reservia.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 35%;
    height: 8em;
}
#subscribe {
    padding-right: 1.5em;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 3em;
    font-weight: bold;
}
nav {
    width: 100%;
    padding-top: 1em;
}
#main_nav {
    display: flex;
    font-size: 2.5em;
    padding: 0;
}

#main_nav > li {
    width: 50%;
    display: flex;
    justify-content: center;
    color: #1D1D1D;
    border-bottom: solid #F2F2F2 0.5rem;
    padding-bottom: 0.8em;
}
.actived-nav {
    color: #0065FC !important;
    border-bottom: solid #0065FC 0.5rem !important;
}