.text-blue {color: #0065FC;}
.text-blue-light {color: #DEEBFF;}
.text-grey {color: #a0a0a0;}
.text-grey-light {color: #F2F2F2;}
.text-white {color: white;}
.text-black {color: black;}
.bg-grey {background-color: #F2F2F2;}
.bg-blue {background-color: #0065FC;}
.bg-blue-light {background-color: #DEEBFF;}
@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway-VariableFont_wght.ttf") format("truetype");
    font-weight: bold;
}
body {font-family: "Raleway";}
li {list-style: none;}
a {text-decoration: none;}
.flex {display: flex;}
.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-space-between {justify-content: space-between;}
.flex-wrap {flex-wrap: wrap;}
.flex-grow {flex-grow: 1;}
.self-end {
    align-self: flex-end;
}
.centerall {
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.center-x {
    justify-content: center
}
li > a {color: inherit; text-align: center;}
.title {font-size: 3.5rem;}
.fontsize-3 {font-size: 3em;}
.fontsize-2-5 {font-size: 2.5em;}
.fontsize-2 {font-size: 2em;}
.fontsize-1-5 {font-size: 1.5em;}
.fontsize-1 {font-size: 1em;}
.disc {
    border-radius: 90px;
    height: 8rem;
    width: 8rem;
    margin-right: -6rem;
    z-index: 500;
}
.filter {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;;
}
.filter p {
    height: 7.2rem;
    border-radius: 90px;
    border: #D9D9D9 0.4rem solid;
    padding-right: 3rem;
    padding-left: 8rem;
}
.info-icon {
    border-radius: 90px;
    font-size: 4rem;
    margin-right: 2rem;
}
.info-text {
    margin-top: 1.4rem;
}
.my-1 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.my-6 {
    margin-top: 6rem;
    margin-bottom: 6rem;
}
.py-3 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.pl-2 {
    padding-left: 2rem;
}