
/* ******************************************************** */
/*                          FLEX BOX                        */
/* ******************************************************** */

.flex {display: flex;}
.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-wrap {flex-wrap: wrap;}

.flex-grow {flex-grow: 1;}

.items-center {align-items: center;}

.self-end {align-self: flex-end;}

.content-start {justify-content: flex-start;}
.content-center {justify-content: center}
.content-end{justify-content: flex-end;}
.content-space-between {justify-content: space-between;}

.centerall {
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* ******************************************************** */
/* ******************************************************** */



/* ******************************************************** */
/*                          COLORS                          */
/* ******************************************************** */

.text-blue {color: #0065FC;}
.text-blue-light {color: #DEEBFF;}
.text-grey {color: #707070;}
.text-grey-light {color: #F2F2F2;}
.text-white {color: white;}
.text-black {color: black;}

.bg-grey {background-color: #F2F2F2;}
.bg-blue {background-color: #0065FC;}
.bg-blue-light {background-color: #DEEBFF;}
.bg-white {background-color: white;}

/* ******************************************************** */
/* ******************************************************** */




/* ******************************************************** */
/*                          FONTS                           */
/* ******************************************************** */

@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway-VariableFont_wght.ttf") format("truetype");
}
@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway-VariableFont_wght.ttf") format("truetype");
    font-weight: bold;
}

body {font-family: "Raleway";}

.font-bold {font-weight: bold;}
.font-normal {font-weight: normal;}

/* ******************************************************** */
/* ******************************************************** */


li {list-style: none;}
a {
    text-decoration: none;
    color: inherit;
}
li > a {text-align: center;}
::placeholder {
    color: black;
    opacity: 1; 
}

.pointer:hover {cursor: pointer;}

#logo {
    background-image: url("../image/Reservia.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.actived-nav {color: #0065FC !important;}

.location-input #location {border: solid #F2F2F2;}

.box-shadow {
    -webkit-box-shadow: 0px 0px 1.5vw 0 rgba(0,0,0,0.10);
    -moz-box-shadow: 0px 0px 1.5vw 0 rgba(0,0,0,0.10);
    box-shadow: 0px 0px 1.5vw 0 rgba(0,0,0,0.10);
}

#subscribe {padding-right: 1.5rem;}

.filter p {padding-right: 3rem;}
.filter p:hover {
    color: #0065FC;
    border-color: #DEEBFF;
}

ul {padding-left: 0;}